@model LojaVirtual.Models.Colaborador
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main">
    <section class="container" style="margin-top: 50px">
        <aside class="col-sm-6">
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        @if (ViewData["MSG_E"] != null)
                        {
                            <p class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i><b> Ops!</b><br /> @Html.Raw(ViewData["MSG_E"])</p>
                        }
                        <!--<a asp-action="" asp-controller="" class="float-right btn btn-outline-primary">Cadastre-se</a>-->
                        <h4 class="card-title mb-4 mt-1">Login do Colaborador</h4>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Email">Seu e-mail</label>
                                <input asp-for="Email" name="Email" class="form-control" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <a class="float-right" href="#">Esqueceu?</a>
                                <label asp-for="Senha">Sua senha</label>
                                <input asp-for="Senha" class="form-control" placeholder="******" type="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Entrar </button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </aside>
    </section>
</main>

